body {
  width: 1440px;
  background-color: hsl(180, 21%, 86%);
}
.container {
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 35%;
  border-radius: 8px;
  overflow: auto;
}
.container.card {
  display: flex;
}
@media (max-width: 375px) {
  .container .card {
    flex-direction: column;
  }
}

.prg {
  line-height: 1.8;
  background-color: white;
  font-family: karla, sans-serif;
}
.prg h2 {
  margin-left: 10%;
  font-size: 12px;
  color: hsl(179, 63%, 51%);
  margin-top: 4%;
}
.prg h4 {
  margin-left: 10%;
  color: hsl(71, 84%, 51%);
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.prg p {
  margin-bottom: 5%;
  margin-top: 0;
  margin-left: 10%;
  line-height: 1.9;
  color: hsl(191, 11%, 71%);
  font-size: 12px;
}

.card {
  display: flex;
  justify-content: center;
  font-family: karla, sans-serif;
}

.card1 {
  color: white;
  width: 50%;
  background-color: hsl(179, 62%, 43%);
}
.card1 h4 {
  margin-top:15%;
  margin-left: 20%;
  font-weight: bold;
  font-size: 12px;
}
.card1 div {
  margin-left: 20%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5%;
}
.div span {
  font-weight: bold;
  font-size: 20px;
}
.div h6 {
  margin: 0;
  font-weight: lighter;
  font-size: 12px;
  color: rgb(170, 206, 236);
}
.card1 h5 {
  color: rgb(221, 231, 238);
  margin-left: 20%;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 5%;
  margin-bottom: 5%;
}
.card1 button {
  align-items: center;
  font-weight: bold;
  font-family: karla, sans-serif;
  color: white;
  margin: 0% 10% ;
  padding: 4% 6%;
  border: none;
  margin-left: 20%;
  border-radius: 4px;
  background-color: hsl(71, 73%, 54%);
  width: 70%;
}
.card2 {
  width: 50%;
  background-color: hsl(180, 52%, 49%);
}
.card2 h4 {
  margin-top: 15%;
  color: rgb(246, 249, 252);
  margin-left: 15%;
  font-weight: bold;
  font-size: 12px;
  font-family: karla, sans-serif;
}
.card2 p {
  line-height: 1.2;
  color: rgb(221, 231, 238);
  font-family: karla, sans-serif;
  font-size: 12px;
  margin-left: 15%;
}
